*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.gray {
  background-color: #f5f4f8;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.column {
  flex-direction: column;
}
.bold {
  font-weight: 600;
}
.btn {
  padding: 15px;
  border: none;
  border-radius: 3px;
}

#browse {
  color: white;
  background-color: #1acb98;
}

#top-nav {
  height: 7vh;
  justify-content: space-between;
}

#user-login {
  align-items: center;
}

#welcome {
  background-color: #7550fe;
  color: white;
}

#welcome-text {
  width: 30%;
  margin: auto;
  line-height: 4vh;
}

.icon {
  height: 90%;
  padding: 5px;
}

#logo {
  margin: 10px 15px;
  height: 70%;
  margin: auto;
}
#user-avatar {
  border-radius: 50%;
  margin: auto;
}

#notification {
  margin-inline-end: 5px;
}

ul {
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  margin: 5px 20px 5px 5px;
}

#hero-lower {
  vertical-align: middle;
  gap: 5%;
  height: 15vh;
  margin-top: auto;
}

.hero-lower-content {
  margin-top: auto;
  margin-bottom: auto;
  align-content: flex-start;
  line-height: 10px;
}
.middle-banner-wrapper {
  align-items: center;
}
.lower-hero-icon {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  color: #c38135;
  background-color: #ffeeda;
}

.card-container {
  padding-top: 50px;
  margin-inline: 200px;
  height: 55vh;
}

.four-cards {
  gap: 5px;
  height: 100%;

  justify-content: space-between;
}
.card {
  width: 220px;
  height: 320px;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  object-fit: contain;
  max-width: 100%;
}

.card-content {
  padding: 10px;
}
.stars {
  align-items: center;
}

.star-row {
  align-items: center;
}
